.home-page 
    width: 100vw
    @include flex-box(column, space-between, center)


.home-page-section 
    width: 100%
    min-height: calc(100vh - 117px)
    padding: 8px
    overflow: hidden
    @include flex-box(column, center, center)

    @media (min-width: 600px) 
        padding: 20px
    
    @media (min-width: 1021px) 
        padding: 40px 80px
    

    .products-wrapper 
        overflow-x: hidden
        max-width: 1510px
        display: grid
        grid-template-columns: 1fr
        align-items: center
        justify-items: center
        gap: 20px

        @media (min-width: 720px) 
            grid-template-columns: 1fr 1fr
        
        @media (min-width: 1100px) 
            grid-template-columns: repeat(3, 1fr)

    
        @media (min-width: 1500px) 
            grid-template-columns: repeat(4, 1fr)
        
    .load-more-container
        width: 100vw
        @include flex-box(row, center, center)
        padding: 100px 0
    